.top {
  position: fixed;
  top: 0;
  bottom: 50%;
  height: 50%;
}

.bottom {
  position: fixed;
  top: 50%;
  bottom: 100%;
  height: 50%;
}

.left {
  position: fixed;
  left: 0;
  right: 50%;
  width: 50%;
}

.right {
  position: fixed;
  left: 50%;
  right: 100%;
  width: 50%;
}

iframe {
  width: 100%;
  height: 100%;
  background: #e5f5f8;
}

.avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 60px;
  overflow: hidden;
}

.avatar > .profile {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid black;
  overflow: hidden;
  background: white;
}

.avatar > .name {
  background: #e5f5f8;
  border: 1px solid #33475b;
  display: inline-block;
  border-radius: 7px;
}

.featured {
  position: fixed;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1000 !important;
}