.top {
  position: fixed;
  top: 0;
  bottom: 50%;
  height: 50%;
}

.bottom {
  position: fixed;
  top: 50%;
  bottom: 100%;
  height: 50%;
}

.left {
  position: fixed;
  left: 0;
  right: 50%;
  width: 50%;
}

.right {
  position: fixed;
  left: 50%;
  right: 100%;
  width: 50%;
}